body {
  background-color: #393E46;
  overflow:hidden ;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4vw;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  margin: auto;
  text-align: center;
}
.h1{
flex: 1;
}
.dice {
  flex:1;
  text-align: center;
  display: inline-block;
}
.button{
flex:1;
}
.btn{
  padding: 10px;
  font-size:2vw;
  border-radius: 15px;
}
.btn:hover{
  cursor: pointer;
}